<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Optraken - beeldhouwwerken</title>
<link rel="stylesheet" href="/../public/CSS/style.css">
</head>
<body>
<header>
    <nav>
        <a class="nav" href="index.html"><img class="navimg" src="../public/IMG/loggo2.jpeg"> </a> |
        <a class="nav" href="enbeeldhouw.html">Sculptures</a> |
        <a class="nav" href="frankrijk.html">Vakantiehuis Frankrijk</a> |
        <a class="nav" href="verhaal.html">Verhalen</a> |
        <a class="nav" href="texel.html">Vakantiehuis Texel</a> |
        <a class="nav contact-link" href="contacten.html" >Contact</a>
        <a class="nav" href="beeldhouw.html"><img class="navimg vlag" src="../public/IMG/nlvlag.png"> </a>
        <a class="nav" href="enbeeldhouw.html"><img class="navimg vlag" src="../public/IMG/envlag.png"> </a>
    </nav>
</header>
<div class="column">
    <div class="paddinghelper">
        <div class="thumbnail" id="Taurus">
            <h2 class="Taurus">Taurus</h2>
            <img src="../public/IMG/Taurus.png" class="img">
            <p>Taurus is a bull made of Carara marble. The rock was found in the Carara Mountains during a stay in Tuscany.
                Carara marble being very solid, it was difficult to shape.
                Gold paint suggests Taurus' hairs. </p>
        </div>

        <div class="thumbnail" id="Leonardo">
            <h2 class="Leonardo">Leonardo</h2>
            <img src="../public/IMG/Leonardo.png" class="img">
            <p>Leonardo was "born" in Tuscany. The famous 
                Leonardo da Vinci was my inspiration.
                He has the air of a Tuscan nobleman.
                Leonardo is made of serpentine.</p>
        </div>

        <div class="thumbnail" id="Pascal">
            <h2 class="Pascal">Pascal</h2>
            <img src="../public/IMG/Pascal.png" class="img">
            <p>Pascal is a little rascal made of serpentine. He is a mixture of 
                an iguana and a cameleon. When the children saw him the first time, they shouted: it's Pascal. That's how he got his name.</p>
        </div>

        <div class="thumbnail" id="Elvis">
            <h2 class="Elvis">Elvis the banana</h2>
            <img src="../public/IMG/Elvis.png" class="img">
            <p>Elvis is sculptured in polychromatic
                Brazilian soapstone.
                When Optraken's French neighbours saw the greasy hairstyle, they shouted:
                "Une banane!"</p>
        </div>

        <div class="thumbnail" id="NickyM">
            <h2 class="NickyM">Nicky - male</h2>
            <img src="../public/IMG/NickyM.png" class="img">
            <p>Nicky is transgender. One side of  Nicky shows their male side. The other side expresses their female side. 
                When you walk around Nicky, you will discover their complete personality.</p>
        </div>

        <div class="thumbnail" id="NickyV">
            <h2 class="NickyV">Nicky - female</h2>
            <img src="../public/IMG/NickyV.png" class="img">
            <p>The female side of Nicky shows their wavy hair and their sensitive mouth instead of the savage moustache.
                Nicky is made of Indian soapstone.</p>
        </div>

        <div class="thumbnail" id="NeferteteH">
            <h2 class="NeferteteH">Nefertete</h2>
            <img src="../public/IMG/NeferteteH.png" class="img">
            <p>Nefertete, heroine of ancient times,
                in a modern version.
                She is made of serpentine and is
                 one of Optraken's two faced sculptures.</p>
        </div>

        <div class="thumbnail" id="NeferteteBW">
            <h2 class="NeferteteBW">Nefertete - weasel</h2>
            <img src="../public/IMG/NeferteteBW.png" class="img">
            <p>In truth Nefertete is an anxious weasel. When you turn the sculpture around, you will see her inner personality. </p>
        </div>

        <div class="thumbnail" id="DinoD">
            <h2 class="DinoD">Dino egg</h2>
            <img src="../public/IMG/DinoD.png" class="img">
            <p>This two faced sculpture shows a ferocious dinosaur,
                and the egg it was hatched in.</p>
        </div>

        <div class="thumbnail" id="DinoE">
            <h2 class="DinoE">Dino egg</h2>
            <img src="../public/IMG/DinoE.png" class="img">
            <p>The solid dinosauregg
                is made of Carara marble.</p>
        </div>

        <div class="thumbnail" id="Hoop">
            <h2 class="Hoop">Hope</h2>
            <img src="../public/IMG/Hoop.png" class="img">
            <p>This small alabaster sculpture tries to keep several balls in the air. In our demanding society you have to keep both feet
                on the ground. Hope has three feet.</p>
        </div>

        <div class="thumbnail" id="Paaseilandman">
            <h2 class="Paaseilandman">Easter island man</h2>
            <img src="../public/IMG/Paaseilandman.png" class="img">
            <p>Easter Island man is inspired by the mysterious statues on Easter Island.
                It is Optraken's first piece of art.
                It gave a tremendous thrill to shape
                a solid rock.</p>
        </div>

        <div class="thumbnail" id="VogelmanM">
            <h2 class="VogelmanM">Birdman</h2>
            <img src="../public/IMG/VogelmanM.jpg" class="img">
            <p>The birdman is another one of
                Optraken's two faced sculptures.
                The sculpture shows an old, bald man.
                The other side shows a bird of prey.</p>
        </div>

        <div class="thumbnail" id="VogelmanV">
            <h2 class="VogelmanV">Birdman</h2>
            <img src="../public/IMG/VolgelmanV.jpg" class="img">
            <p>The birdman is made of serpentine of a beautiful brown color.</p>
        </div>

        <div class="thumbnail" id="ChamoiseauV">
            <h2 class="ChamoiseauV">Chamoiseau</h2>
            <img src="../public/IMG/ChamoiseauV.jpg" class="img">
            <p>Chamoiseau is a word blending of the French words chamois
                and oiseau. One part of the two faced sculpture shows a bird.</p>
        </div>

        <div class="thumbnail" id="ChamoiseauG">
            <h2 class="ChamoiseauG">Chamoiseau</h2>
            <img src="../public/IMG/ChamoiseauG.jpg" class="img">
            <p>The other side of the serpentine
                sculpture shows a chamois,
                a goat living in the French Alps.</p>
        </div>

        <div class="thumbnail" id="SepirT">
            <h2 class="SepirT">Sepir</h2>
            <img src="../public/IMG/SepirT.jpg" class="img">
            <p>This serpentine two faced sculpture is a mixture of a tapir and a sepia.</p>
        </div>

        <div class="thumbnail" id="SepirS">
            <h2 class="SepirS">Sepir</h2>
            <img src="../public/IMG/SepirS.jpg" class="img">
            <p>There is no explanation for this
                bizarre composition. </p>
        </div>

        <div class="thumbnail" id="Cassius_Catastrophus">
            <h2 class="Cassius_Catastrophus">Cassius Catastrophus</h2>
            <img src="../public/IMG/Cassius.jpg" class="img">
            <p>Cassius Catastrophus is a Roman soldier dying on the battlefield. In his skin you can see small fossils, since he is made of limestone. The rock was found near an old Roman quarry in Croatia.</p>
        </div>

        <div class="thumbnail" id="Heberden">
            <h2 class="Heberden">Heberden</h2>
            <img src="../public/IMG/Heberden.jpg" class="img">
            <p>Old age is spoiled by deformations of the fingers caused by artritis. The deformations are called Noduli of Heberden. William Heberden was an eighteenth century English doctor. This nodulus is made of alabaster.</p>
        </div>

        <div class="thumbnail" id="HuismuisM">
            <h2 class="HuismuisM">A mouse with a house</h2>
            <img src="../public/IMG/HuismuisM.jpg" class="img">
            <p>This little Brazilian soapstone mouse carries its house on its back.</p>
        </div>

        <div class="thumbnail" id="HuismuisS">
            <h2 class="HuismuisS">A mouse with a house</h2>
            <img src="../public/IMG/HuismuisS.jpg" class="img">
            <p>The mouse is a two faced sculpture. The mouse is carrying a snail shell on its back.</p>
        </div>

        <div class="thumbnail" id="Liesje">
            <h2 class="Liesje">Liesje</h2>
            <img src="../public/IMG/Liesje.jpg" class="img">
            <p>Little Lisa is made of Carara marble. She keeps an eye on you wherever you are. The shape of her mouth reminds you of Mona Lisa, but since it's inappropriate to compare her with the real masterpiece, her name is Liesje (Little Lisa).</p>
        </div>

        <div class="thumbnail" id="Trolltunga">
            <h2 class="Trolltunga">Trolltunga</h2>
            <img src="../public/IMG/Trolltunga.jpg" class="img">
            <p>Trolls are ugly creatures from Norway. Somewhere in this barren country you can stand in a troll's tongue. Tolltunuga is made of alabaster. The tongue is a Norwegian stone.</p>
        </div>

        <div class="thumbnail" id="Olifant_en_Mug">
            <h2 class="Olifant_en_Mug">Elephant and Mosquito</h2>
            <img src="../public/IMG/Olifant.jpg" class="img">
            <img src="../public/IMG/Mug.jpg" class="img">
            <p>How can you turn a mosquito into an elephant?
                In this verdite sculpture it's possible</p>
        </div>

        <div class="thumbnail" id="Aslan">
            <h2 class="Aslan">Aslan</h2>
            <img src="../public/IMG/Aslan1.jpg" class="img">
            <img src="../public/IMG/Aslan2.jpg" class="img">
            <img src="../public/IMG/Aslan3.jpg" class="img">
            <p>Aslan is an ancient assyrian warrior.
                During a fight he changes into a lion.
                He is made of serpentine..</p>
        </div>
    </div>
</div>
<footer></footer>
</body>
</html>