        <p> 
        Berend had nooit wat. Het was een sterke stevige veertiger met een olijke uitstraling. 
        Als ik hem zag, was het omdat hij met zijn vrouw meekwam. Hij was lief en zorgzaam voor haar. 
        Op een avond had ik dienst, toen zijn vrouw belde. Ik voelde de ongerustheid in haar woorden. 
        Berend had pijn in zijn linker arm. Ze was bang voor zijn hart.
        Omdat er nooit iets medisch was met Berend en omdat zijn vrouw zo ongerust was, besloot ik meteen naar de Lindenlaan 5 te gaan. 
        Berend zat vrolijk als altijd op de bank. Ik ging naast hem zitten ene stelde de vragen, die horen bij hartklachten. Het was niet een duidelijk verhaal. 
        En er was ook niet iets bijzonders gebeurd. Mevrouw zetten een kopje koffie voor me neer. 
        Ik nam de bloeddruk op en luisterde naar Berends hart. Ik besloot ondanks de wat vage klachten het protocol voor hartinfarct te volgen. 
        Ik spoot wat nitroglycerine onder zijn tong, gaf hem aspirine en hield de tijd in de gaten. Ondertussen roerde ik in mijn koffie en Berend en zijn vrouw babbelden gezellig verder. 
        Toen het nare gevoel in zijn arm niet afnam na een paar pufjes onder de tong, legde ik uit dat ik - ook al leek het overdone – volgens het protocol met spoed een ambulance ging oproepen. 
        We nemen geen risico. Ik pakte Berend pols om zijn hartslag te controleren, toen opeens zijn hoofd opzij knakte. Berend was op weg naar een andere wereld! Ik trok hem op de grond en begon te reanimeren. 
        Ondertussen gaf ik zijn vrouw opdracht om 112 te bellen. Daarna zeeg ze helemaal overdonderd op een stoel neer. In een heldhaftige stemming besloot ik adrenaline in het hart te spuiten. 
        Was dat toen protocol? Ik weet het niet meer. Mevrouw ontwaakte uit haar wat shockerige status en stamelde: “De buurvrouw is IC-verpleegkundige”. 
        “Haal haar gauw”, riep ik. 
        Samen met de buurvrouw hield ik Berend aan de praat tot de ambulance kwam. 
        Met een paar klappen van de defibrillator begon Berends hart weer te kloppen.
        De broeders namen hem mee. Die nacht sliep ik slecht. Steeds zag ik het akelige beeld van Berends wijd opengesperde, bloeddoorlopen ogen. Dat beeld bleef rondspoken in mijn brein. 
        Zou Berend het overleven? De volgende dag ging ik naar het ziekenhuis om er achter te komen hoe het ging. 
        Het beeld van de bloeddoorlopen ogen verdween in één klap toen ik Berend in een ziekenhuisbed een sperzieboontje naar binnen zag werken. 
        Zijn pretogen kregen mij in het vizier en hij groette me vrolijk. Het ging prima. 
        Hij had een klein infarct gehad, weliswaar met een hartstilstand, maar er was eigenlijk geen schade aan de hartspier. 
        Berend kon doorgaan met leven. Jaren later, toen ik al van praktijk gewisseld was, kwam ik het stel op de spoedpost tegen. 
        Van allebei kreeg ik een dikke zoen. Toch iets goed gedaan in mijn carrière. 
        </p>