    <p>“Ben jij wel een Nederlander?”. 
        Jonathan kon het bijna niet geloven. 
        Hij vond, dat ik zoveel ondernemender was dan de andere Nederlanders, die hij had ontmoet. 
        Elk weekend verzon ik wel wat en trokken we er samen op uit. 
        Het ene weekend stonden we tussen de theeplukkers in Kericho, dan weer spotten we Colobusapen in het Kakamenga regenwoud. 
        Een volgende keer reden we naar de suikerfabriek om in Mumias om negen holes te lopen met een half verlamde caddy. 
        En op de markt in Pokot kochten we op een markt vol mensen met schilderachtige kleding en kettingen traditional medicine bij een “collega”, die met wat wortels, takjes en bladeren op de grond zat.   
        Jonathan vond het prachtig. “Door jou leer ik mijn land kennen”, beweerde hij. 
        Dat de uitstapjes voor hem extra inkomsten opleverden, was mooi meegenomen. 
        Tenslotte moest hij zijn gezin met acht  kinderen en twee kleinkinderen zien te onderhouden. 
        Voor een dag chaufferen verdiende hij 500 shilling. 
        Bij een overnachting kreeg hij 2000 shilling voor slapen en eten. 
        Felista, zijn jongste dochtertje van drie, kwam regelmatig schooien bij ons om cola. 
        Hij huurde het huis naast het doctor’s  house van een generaal. Het was een pikdonkere, schaars ingerichte woning, die ik éénmaal mocht betreden om zijn vrouw te onderzoeken toen ze problemen had in de vroege zwangerschap.
    </p>
    <p>
        “Weet jij waar mama Obama woont?”, vroeg ik op een dag aan Jonathan. 
        Nee, daar had hij nog nooit van gehoord. 
        In een boekje had ik gelezen over een Nederlandse vrouw, die bij mama Obama op bezoek was geweest. 
        Jonathan deed navraag binnen zijn netwerk. Kogelo, daar moest het zijn. 
        Het was op een paar uurtjes afstand van Mundika. Hij wist nu hoe we moesten rijden. 
        Op onze vrije zondag togen we op pad. In de auto zette hij muziek aan. 
        Regelmatig hoorde je: “Praise the Lord. Halleluja”. Jonathan was lid van de Pinkstergemeente. 
        Kenia telt onwaarschijnlijk veel geloofsgemeenschappen, meer dan enig ander land ter wereld. 
        Voorbij Ugunja sloegen we af. De weg vol gaten en hobbels werd door Jonathan spottend de Obama Highway genoemd. 
        Voorbij Siaya was het nog even zoeken op de zandwegen maar Jonathan gebruikte zijn instincten en na wat vragen bereikten we Kogelo. 
        Vergeleken met dorpen in de buurt zag Kogelo er welvarend uit. Er werd hard gewerkt aan een nieuwe hoofdstraat. 
        Waarschijnlijk hoopte men dat Barack Obama nog eens langs zou komen. 
    </p>
    <img class="vfoto" src="/IMG/MamaObama.png"> 
    <p>
        Voorbij de bar met het opschrift “Kogelo Yes we can” sloegen we af langs de Senator Obama Secundary School. 
        Het was in enige school, die ik in Kenia heb gezien met twee verdiepingen. 
        De laatste bochtjes werden ons gewezen door een jongeman in een Barcelonashirt. 
        We lieten hem bij ons instappen, ook om eventueel te kunnen vertalen want we wisten niet of mama Obama ook iets anders sprak dan Luo. 
        Even later stonden we voor het huis van mama Obama. Het was omgeven met een groot hek en een man in uniform hield de wacht. 
        Op een bord stond te lezen wanneer mama Obama audiëntie hield. Helaas stond zondag daar niet bij.  Dat was balen. Jonathan raakte aan de praat met de geüniformeerde man. Ik kon het niet verstaan. Even later liep de man richting het huis van mama Obama. 
        Jonathan vertelde me, dat de man uit de streek rond Busia afkomstig was. 
        Daarmee was het ijs – voor zover je daarvan kunt spreken op de Evenaar – gebroken en de bewaker ging vragen of mama Obama toch even tijd had voor ons. 
        Na enige tijd kwam hij terug gelopen door de grote tuin en opende het hek voor ons. 
        Mama Obama was genegen ons te ontvangen. Hij nam ons mee naar een enorme mangoboom voor het huis. 
        Daar mochten we gaan zitten op wat gammele stoeltjes, die in een halve kring waren gerangschikt. 
        Voor de kring stonden twee witte tuinstoelen. 
        We zaten braaf te wachten met uitzicht op de voor Keniaanse begrippen luxe woning. 
        Gespannen wachten we af. Uit het huis klonk een ruw stemgeluid. 
        Een zacht briesje verdreef de ergste hitte. 
        Na een minuutje of twintig kwam een gezette, kleine vrouw het huis uit schommelen. 
        Ze werd gevolg door een tengere jongeman, die zich voorstelde als Nelson Ochieng de stiefkleinzoon en tevens personal assistent van Sarah Obama. 
        Ze namen plaats op de tuinstoelen onder de mangoboom. 
        Sarah was nieuwgierig waar we vandaan kwamen en wat we deden. 
        Haar verbazing was groot toen ik vertelde dat ik op de bodem van wat eens een zee was woonde. 
        Nederland kende ze wel vanwege de tomatenteelt en vanwege “Hague”. 
        Daar stonden de verdachten van de gewelddadigheden na de verkiezingen in 2007/2008 terecht voor het Internationaal Strafhof. 
        Sarah was de tweede vrouw van de opa van president Barack Obama. 
        Ze was niet de moeder van Barack Senior. Ze is dus de stiefoma van de Amerikaanse president. 
        Nelson vertelde, dat de vader en de opa van Barack Junior naast het huis begraven lagen. 
        We hadden de twee graven al opgemerkt. We mochten even kijken. 
        Het graf van Barack Senior was bekleed met badkamertegeltjes. 
        Barack Hussein Obama, died in a carcrash in 1889. In 1988 was Barack Junior het graf van zijn vader komen bezoeken. 
        Zijn vader, die hij vrijwel nooit in levende lijve ontmoet had.
    </p>
    <p> 
        Op het terrein staat een huis gereed voor de oudste zoon van Barack Senior. 
        Maar ik denk niet dat Junior hier ooit zijn intrek zal nemen. 
        Begin negentiger jaren keerde Junior terug bij mama Obama met zijn verloofde Michelle. 
        Sarah wees trots het raam aan waarachter ze geslapen hadden. 
        Ook voor de presidentsverkiezingen is Junior op bezoek gekomen om toestemming te vragen aan Sarah. 
        Dat beweerde ze tenminste. Zo zou de wereldpolitiek afhangen van een oma in de binnenlanden van Kenia. 
        Ze hadden hier onder de mangoboom zitten vergaderen. Sarah was gast geweest bij de inauguratie van de president. 
        We informeerden naar haar rol in de community van Kogelo en we hoorden van de Sarah Obama Foundation, die de zorg had voor 103 weeskinderen. 
        Sarah hoopte dat deze kinderen zouden uitgroeien tot dokters, advocaten, ingenieurs en leraren. 
        Ook promootte ze vernieuwingen in landbouw en veeteelt. 
        Naast haar plot stond een stal, waarin koeien worden gehouden, die op stal blijven. 
        Een unicum in Kenia. Ik vertelde Sarah, dat ze in hetzelfde jaar geboren was als mijn moeder. 
        Lachend zei ze, dat we daarom op bezoek hadden mogen komen. Ze was een soort moeder voor mij. 
        We mochten wat geld doneren aan de Foundation. 
        Toen namen we hartelijk afscheid en lieten mama Obama achter onder de mangoboom. 
        We reden over de Obama Highway terug naar het nietige Munika.  
    </p>
