 <p>Ooit was er in het Tropenmuseum een tentoonstelling over Jemen. 
        Zowel Daniël als ik waren daar onafhankelijk van elkaar geweest. 
        Voor Daniël en mij sprak, wat we zagen, erg tot de verbeelding. 
        Een land met een Middeleeuws karakter en wat een authentieke indruk maakte. 
        “Daar moeten we naar toe”, verzuchtten wij. 
        En dat bleven we door de jaren heen herhalen, 
        telkens als we elkaar zagen op familiefeestjes of als we zo maar bij elkaar langs gingen. 
        Tot we op een dag vonden, dat het genoeg was geweest en besloten om te gaan. 
        Omdat we allebei in de kleine kinderen zaten, kon het geen lange uitstap worden. 
        Acht dagen en in die tijd wilden we ook nog 48 uur doorbrengen in Jordanië om te zwemmen in de Dode Zee en om door de kloof te lopen om de verborgen rotstempels van Petra te bezoeken. 
        Toen we na het Jordanese avontuur om middernacht op Sana’a International Airport arriveerden, stond daar een kleine Arabier in een lelijk lichtblauw pak op ons te wachten. Het was Brahim, een vriend van de enige Jemeniet, die ik in Nederland kende. 
        Hij zou onze chauffeur zijn voor de komende week. 
        In Jemen is het voor buitenlanders niet toegestaan om zelf een auto te besturen, dus die taak nam Brahim met verve op zich. 
        Met gezwinde spoed bracht hij ons naar een hotel in de hoofdstad, waar we uitgeput neervielen in een kamer met gekleurde ramen. 
    </p>
        <p>
            De volgende ochtend werden we gewekt door gezang uit vele mannenkelen. 
            Toen we de gordijnen opzij schoven en door de gekleurde ramen naar buiten keken, zagen we daar een hele colonne soldaten al zingend in looppas door de straten rennen. 
            Zo trainde het Jemenitische leger dus. Nieuwsgierig naar hoe het op straat zou zijn, schoten we in onze kleren en liepen naar buiten. 
            Het hotel lag aan een wat grotere straat met veel winkeltjes. Veel van de zaakjes waren nog gesloten, maar her en der openden de winkeliers de grote, lichtblauwe, ijzeren deuren en begonnen te rommelen tussen hun waren. 
            Eén kleine ondernemer bakte op een grote ronde plaat geurige gevulde pannenkoekjes. Iets verder in de grote straat sloegen we links af. Het was of we in 1001 nacht waren beland. We stonden op een kleine markt vol bedrijvigheid.
            Driftig liepen kleine mannen in lange witte gewaden heen en weer. Over de gewaden droegen ze een colbert en om hun middel een brede ceintuur met een kromdolk in een groen gepoederde foedraal. 
            Hun hoofden werden beschermd tegen de zon door een geruite doek, zoals we die nog kennen van de Palestijnse verzetsstrijder Yasser Arafat. De vrouwen daarentegen gleden als zwarte schimmen door het decor.
             Alles aan hen was zwart, hun lange gewaad, de nikaab; zelfs hun handen waren bedekt met zwarte handschoenen. Alleen hun donkere ogen gluurden door een smalle spleet, die open was gebleven in hun kleding.
            Op hun hoofden droegen ze manden met grote, platte broden, bestemd voor de verkoop. 
            De mannen op de markt waren niet zozeer geïnteresseerd in de platte broden maar meer in de takkenbossen, die op de grond uitgestald lagen. Het leek wel ligusterhaag. Voor enkele tientallen rials wisten ze een bundel te bemachtigen en liepen ermee onder hun arm door de straat. 
            Een wonderlijk schouwspel: gewapende mannen in jurken met gesnoeide liguster en zwarte schaduwen onder broden. Het was of we met een tijdmachine een paar honderd jaar het verleden in waren geschoten. 
            Die takkenbossen waren qat. Wat voor effect van die bossen qat hadden, zouden we snel merken. 
            Zo rond het middaguur werden de mannen wat geagiteerd en zochten een plek om de qat te gaan kauwen. 
            Het gevolg is dat de hele natie in de middag uitgeschakeld is door de qat. Het hele economische leven komt tot stilstand. 
            Als je om 3 uur iets wilt kopen op de soek van Sana’a, tref je enkel ongeïnteresseerde zakenlieden, die het worst zal zijn of jij iets bij ze koopt. 
            De soldaten bij de roadblocks turen wazig je auto in om je vervolgens te laten doorrijden. 
            Na deze eerste cultuurschok op de qatmarkt haastten we ons terug om nog te kunnen ontbijten voor Brahim ons zou komen oppikken. 
            We zouden eerst naar het oosten reizen om de vergane glorie van een onder het zand bedolven karavaanstad te aanschouwen en door de restanten van het paleis van de koningin van Sheba te dwalen. 
            Dit alles gebeurde onder begeleiding van een gewapende soldaat, die in onze auto plaatsnam. 
            Blijkbaar waren de autoriteiten bang voor kidnappingen. 
            Het gebeurde regelmatig dat westerlingen door opstandige woestijnstammen werden ontvoerd. 
            Er werden dan wapens en jeeps ge-eist in ruil voor de vrijlating. 
            Naar zeggen was er ooit een westerse man, die zich niet hield aan het protocol van de opstandelingen. Die verwachtten namelijk dat de ontvoerde zich netjes gedroeg in ruil voor de gastvrijheid, die hem geboden werd. De westerling gedroeg zich als een idioot en sprong als een kikker kwakend door het kamp. De stamleden wisten niet wat ze met hem moesten aanvangen en lieten hem in opperste verwarring vrij. Met onze soldaat zou ons dat niet overkomen. Bij het paleis van de koningin van Sheba torenden acht zuilen recht overeind uit het woestijnzand. Bedoeïenenjongens klommen behendig tussen de zuilen omhoog. Voor hun kunstje kregen ze een paar rials. Ze 
        </p>

        <p>
            probeerden ons pijlpunten en albasten schaaltjes te verkopen.
            Ze beweerden ze zelf opgegraven te hebben. Toen ik even buiten de overblijfselen van een muur zelf wat in het zand wroette, haalde ik zo een klein albasten bakje voor het verbranden van wierook naar boven. Hoe was het mogelijk dat zo’n belangrijke archeologische site zo slecht geëxploreerd was en zo gebrekkig beschermd werd. 
            Het antwoord lag in het feit dat de streek geregeerd werd door ongeorganiseerde krijgsheren, die geen buitenlanders toelieten om opgravingen te doen. 
            Een Amerikaanse  expeditie had ruim 40 jaar tevoren de opgraving overhaast moeten verlaten na bedreigingen door deze stamhoofden. 
            Toen we nog verder naar het oosten reisden, begon ik meer van de anarchie te begrijpen. 
            In het kleine woestijnstadje hing een licht bedreigende sfeer, die vooral bepaald werd door het feit dat er op straat geen vrouwen te bespeuren waren. 
            Hier droegen de mannen in hun traditionele Jemenitische kleding niet alleen hun kromdolk maar ook een Kalasjnikov met meerder patroongordels over de schouder. 
            In één van de spaarzame eetgelegenheden werd mij de toegang geweigerd. Vrouwen waren niet toegestaan. 
            Brahim moest praten als Brugman om mij binnen te krijgen, wat uiteindelijk lukte. In een hoekje probeerde ik mij zo onzichtbaar mogelijk te maken maar niet zonder te gluren naar de andere gasten. 
            De vervaarlijk uitziende types stapelden hun geweren naast zich op tafel en deden zich tegoed aan rijst en gebraden kip wat ze met de hand van een grote schaal pakten, die midden op tafel geplaatst was. 
            Ook Brahim, Daniël en ik kregen zo’n schaal voor onze neus maar dan een vegetarische versie. Ook dat was voor Brahim een uitdaging om uit te leggen wat vegetarisme was. Na het eten dwaalden Daniël en ik wat door de straten. 
            Het was een wonderlijke ervaring om als enige vrouw buiten te zijn. De zon ging onder en opeens reed een jeep met volle lichten recht op ons af. We raakten enigszins in paniek met al die verhalen over ontvoeringen. 
            Het bleek slechts Brahim te zijn, die ons in veiligheid wilde brengen. Op dit uur moesten buitenlanders niet meer ronddolen. 
            Niet verwonderlijk dat we de enige westerlingen in dit barre oord waren.
        </p>
        <img class="vfoto" src="/IMG/QAT.png">
        <p>
            In een noodtempo doorkruisten we het land. De vismarkt in Al Hudaydah was juist afgelopen. 
            Daarvoor waren we te laat gearriveerd. Wel hing er nog een doordringende visgeur. 
            Dan maar naar de frisse lucht op het strand van de Rode Zee. Ik zocht er kleine rode schelpjes. 
            Zwemmen durfde ik niet. 
            Jezelf blootgeven in het land van de zwarte schaduwen leek niet verstandig.
        </p>

        <p>
            In het gebergte tussen de kust en Sana’a lagen dorpjes als adelaarsnesten op bergtoppen. 
            Hoge muren rezen vanuit de berg op naar de hemel. 
            In de smalle straatjes tussen de muren was net genoeg ruimte voor de ezels, die op de terrasvormige akkers werden ingezet. 
            Toen we door de straatjes van zo’n bergdorpje dwaalden, werden we door de dorpsjeugd bekogeld met stenen. 
            Anders uitziende mensen waren waarschijnlijk zo bedreigend, dat daarmee korte metten gemaakt moest worden. 
            Het brullen van de kreet “aib” deed wonderen. Ze stopten met gooien. De huizen in de adelaarsnesten waren gebouwd in de karakteristieke Jemenitische bouwstijl. 
            De onderste verdieping kende geen ramen en had een stevige houten poort. Hier werd het vee ondergebracht. De verdieping daarboven vertoonde een spaarzaam raampje. 
            Hier werden de voorraden bewaard. Nog een trap op waren de slaapvertrekken. Meer ramen op dit niveau. Nog hoger bevond zich de keuken en de vrouwenvertrekken. 
            Op de bovenste verdieping bevond zich de mafradj, een grote ruimte, die de hele verdieping in beslag nam. De mafradj had grote ramen met bovenin gekleurd glas waardoor prachtig gefilterd licht naar binnenkwam. 
            Langs de wanden lagen zachte kussens. Dit was het domein van de mannen. 
            Hier werd vergaderd en -de belangrijkste bezigheid- qat gekauwd. Onze herberg had een echte mafradj. Dit was het uitgelezen moment om qat te kauwen. We wisten niet goed hoe we een bos moesten verwerven. 
            Mogelijk wilden de Jemenieten het niet verkopen aan vreemdelingen. Brahim was zo goed om wat bossen voor ons te in te slaan en gaf instructie voor het kauwen. Na wat discussie of ik als vrouw wel in de mafradj mocht zitten, nestelden we ons in de kussens van de mafradj en stopten de bladeren in onze wangzak. 
            De blaadjes smaakten bitter. Het bleek een kwestie van volhouden. Steeds maar blaadjes vermalen tussen je kiezen en daarbij veel water drinken zodat zich een bal vormde in je wangzak. Ik gluurde naar de mannen om mij heen.
            De meesten hadden uitgerekte wangen als een jazztrompettist. Ze zaten rustig te kauwen en te praten. Na een uur noeste kauwarbeid begonnen de eerste teken van werkzaamheid zich aan te dienen. We raakten opgewekt en wisten oplossingen voor alle wereldproblemen. 
            Het leven was mooi. Niet voor niets werden ruzies in Jemen bijgelegd tijdens qatsessies. Al kauwend bedacht ik ter plekke een geweldige uitvinding: de stofzuigerfles. Naderhand wist ik niet meer te bedenken wat dit mocht zijn, maar het woord was blijven hangen. Tijdens deze alerte fase van het kauwen was ik vast van plan om qatcursussen te organiseren voor burn out huisartsen. 
            Toen ik weer bij zinnen was, leek dit idee toch minder geslaagd. 
        </p>
        <p>
            Na een uur in deze extase verkeerd te hebben kwamen we in een andere fase. 
            Eigenlijk kon niets ons meer schelen. 
            We hingen in de kussens in het zachte avondlicht en lieten de dingen om ons heen op zijn beloop. 
            Juist op dat moment kwamen er een paar Duitse toeristen de mafradj binnen. 
            Zij waren juist gearriveerd en waren dringend op zoek naar een slaapplaats. 
            In onze ogen met veel bombarie liepen ze daar rond. Met lome blikken volgenden we de drukteschoppers. 
            Waar maakten die mensen zich zo druk over? De herbergier verkeerde in eenzelfde toestand als wij. 
            Hij was weinig geneigd zich uit zijn verheven toestand te laten trekken. 
            De Duitse acties hadden dan ook weinig effect. De Duitsers dropen misnoegd af en gingen beneden wachten tot de lijpo’s in de mafradj weer aanspreekbaar waren. 
            Geleidelijk trok de mist in ons brein wat op. 
            Er werd eten geserveerd en er kwamen mannen met muziekinstrumenten. 
            De sfeer was vredelievend. De Duitsers mochten aanschuiven. 
            Door de maaltijd en de trommels raakten we opgetogen en dansten mee door de mafradj. 
            Toen we in de slaapkamer belanden, verkeerden we nog steeds in een fantastische stemming. 
            Onze slaap was helemaal verdwenen en Daniël en ik voerden tot het ochtendgloren diepzinnige gesprekken. 
            Onze slaap haalden we de volgende dag wel in op de achterbank bij Brahim.
        </p>
        <p>
            Weer terug in Sana’a kochten we wierook en dolken op de markt bij de grote stadspoort. 
            Er was een prachtig balkonnetje bij een restaurantje. 
            Het balkon was smal en bood plaats aan een lange bank, vanwaar de gasten een prachtig uitzicht over het gekrioel van de markt onder hen hadden. 
            We dronken een vruchtendrank en mijmerden over het leven in Jemen. 
            De naast Daniël gezeten man stootte hem aan en informeerde voorzichtig waarom zijn vrouw geen hoofddoek droeg. 
            Hij kon natuurlijk niet weten dat ik niet de vrouw van Daniël was maar zijn zus. 
            Mijn broer legde uit dat dat bij ons niet de gewoonte was. De man vond het maar raar. 
            Tijdens latere reizen heb ik wel eens geprobeerd me aan te passen door een hoofddoek te dragen. 
            Ik had een, mooi exemplaar gekregen van een Turkse patiënte, die hem voor me had meegenomen van de hadj in Mekka. 
            In Syrië probeerde ik de doek netjes op te doen. Het was aan mij niet besteed. 
            Het ding bleef niet goed zitten. 
            Vol bewondering dacht ik aan de vrouwen uit mijn kennissenkring, die de doek prachtig in toom weten te houden met spelden. 
            Ik kwam tot de conclusie dat ik maar moest zijn zoals ik was in de hoop dat anderen dat niet al te raar zouden vinden. 
            En omgekeerd geldt hetzelfde.
        </p>
