<p>
    Er was een tijd dat ik kleren naaide voor de kinderen en voor mezelf. 
    Op het vloerkleed spreidde ik de stof uit om de patronen erop te spelden. 
    Zo gebeurde het een keer dat ik blijkbaar een speld was kwijtgeraakt, die zich had verstopt in het tapijt. 
    In huis loop ik altijd op sokken en op deze zondagochtend waarop ik dienst had, liep ik op kousenvoeten over het tapijt. 
    Au. De verloren speld prikte in mijn voet en brak doormidden. De ene helft had zich diep in mijn voetzool gedrongen. 
    Lichte paniek sloeg toe. Stel je voor: nou moest ik zelf als dienstdoende dokter naar de huisartsenpost om die speld uit mijn voet te laten verwijderen. 
    Dat nooit! Lopend op mijn hak strompelde ik naar de schuur en rommelde in de gereedschapskist. 
    Ik vond een handige combinatietang. Met de tang zette ik druk op de huid waardoor ik net een puntje van de speld te pakken kreeg, en trok hem eruit. 
    Ik voelde me een echte do-it-youselfer. 
</p>
  