.navbar {
    display: flex;
    justify-content: space-around;
    background-color: purple;
}

.news:first-child {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.news {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.news:last-child {
    display: flex;
}

.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news {
    flex: 1 1 48%;
    margin: 1%;
}


.news:nth-of-type(4) {
    flex: 0 2 50%;
    order: 1;
}


.news:nth-of-type(4) h2 {
    font-size: 2em;
}


.news:nth-of-type(1) {
    flex: 1 1 100%;
    order: 2;
}


.news:nth-of-type(2),
.news:nth-of-type(3) {
    order: 3;
    flex: 1 1 48%;
}
